@import url(//fonts.googleapis.com/css?family=PT+Serif:400,700|Andada:400,700|Montserrat:400,700);

html { font-family: 'PT Serif', serif; } 
h1, h2, h3, h4, h5, h6 { font-family: Montserrat, sans-serif; }
h1 { font-weight: normal }
h2 { text-transform: uppercase; font-weight:normal }
small { font-size: 0.7rem; line-height: 1.1 }
figure { margin-left: 0; margin-right: 0; }
figure img { margin-bottom: 0.2rem; }
figcaption {font-size: 0.7rem; font-style: italic; }
.icon { border-radius: 100px; border: 1px solid gray; display:block; margin-left:auto; margin-right:auto; width: 70px; height: 70px;}
.sidebar-nav-item { display: inline; margin-left: 0.6rem; margin-right: 0.6rem; white-space: nowrap; }
.active { font-weight: bold; }
@media (min-width: 38rem) {
    .icon {width: 90px; height: 90px;}
    html {font-size: 17px; }
}
@media (min-width: 48rem) {
    .icon { width: 80px; height: 80px; margin-left:0 }
    html { font-size: 15px; }
    .sidebar-nav-item { display: block; margin-left:0; margin-right:0; padding-left: 1rem ; text-indent: -1rem ; white-space: normal; }
}
@media (min-width: 58rem) {
    .icon { width: 120px; height: 120px; }
    html {font-size: 18px; }
}

