<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/bilder/logo_big.png" class = "icon" /></a>
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <img src="{{ site.baseurl }}/bilder/dfg_logo.jpg"/ alt="Gefördert durch die Deutsche Forschungsgemeinschaft">
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Ankündigungen</a>
        {% assign my_pages = (site.pages | sort: 'order' | where: "show_in_sidebar", "true") %}
      {% for node in my_pages  %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
      {% endfor %}
    </nav>

    <p><small>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</small></p>
  </div>
</div>
