<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
{% assign my_pages = (site.pages | sort: 'order' | where: 'layout', 'page') %}
      {% for page in my_pages  %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/#{{ page.title }}">{{ page.title }}</a>
      {% endfor %}
    </nav>

    <p><small>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</small></p>
  </div>
</div>
